@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;500&family=PT+Sans+Narrow:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body {
    height: 100%;
    font-family: 'Noto Sans', sans-serif;
    overflow: hidden;
}